@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
      "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    @apply text-gray-900;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold leading-tight;
  }

  h1 {
    @apply text-4xl md:text-5xl;
  }

  h2 {
    @apply text-3xl md:text-4xl;
  }

  h3 {
    @apply text-2xl md:text-3xl;
  }

  h4 {
    @apply text-xl md:text-2xl;
  }

  p,
  li {
    @apply leading-relaxed;
  }

  a {
    @apply text-primary-600 hover:text-primary-800 transition-colors duration-300;
  }
}

@layer components {
  .btn {
    @apply px-4 py-2 flex items-center justify-center rounded-md font-medium transition-all duration-300 transform hover:-translate-y-0.5;
  }

  .btn .ant-btn {
    width: 100px;
  }

  .custom-radio {
    appearance: none;
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  /* .radio-button  */

  .custom-icon span[role="img"] {
    @apply !scale-[0.8];
  }

  .btn-primary {
    @apply bg-primary-600 text-white hover:bg-primary-700;
  }

  .btn-secondary {
    @apply bg-secondary-600 text-white hover:bg-secondary-700;
  }

  .btn-accent {
    @apply bg-accent-600 text-white hover:bg-accent-700;
  }

  .container-custom {
    @apply px-4 mx-auto max-w-[1690px] sm:px-6 lg:px-8;
  }

  .box-shadow {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
}
